@import "tailwindcss";

@theme {
  --font-geist-sans: var(--font-geist-sans);

  --color-primary: #FFFFFF;
  --color-grey: #EEEEEE;
  --color-mint: #94e2d5;
  --color-pink: #EEB3EE;
}

body {
  @apply font-geist-sans bg-primary text-shadow-black
}