@import "tailwindcss";

@theme {
  --font-geist-sans: var(--font-geist-sans);

  --color-primary: #1e1e2e;
  --color-milk: #f5e0dc;
  --color-mint: #94e2d5;
}

body {
  @apply font-geist-sans bg-primary text-milk
}